@import '../styles/colors';

.edit{
    box-shadow:none;
    border: 1px solid $blue;
    border-radius: 5px;
    color: $blue;
    &:hover{
        background-color: $blue;
        color: $white;

    }

}
.blue{
    color: $blue;
}
.pink{
    color: $pink;
}